<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <title>University of Essex </title>
    <!-- <link rel="canonical" href="https://www.essex.ac.uk/" /> -->
    <!-- <meta name="description"
        content="At Essex we&#39;re a bunch of risk-takers and opinion-makers, stereotype-breakers and world-shakers. Study at our Colchester Campus, Southend Campus, Loughton Campus today.">
    <meta name="PageType" content="Homepage"> -->


    <!-- <link rel="manifest" href="/assets/app/general/img/favicons/manifest.json"> -->
    <!-- <link rel="mask-icon" href="/assets/app/general/img/favicons/safari-pinned-tab.svg" color="#ffffff">
    <meta name="theme-color" content="#ffffff"> -->

    <!-- Facebook Open Graph data -->
    <!-- <meta property="og:url" content="https://www.essex.ac.uk/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="University of Essex " />
    <meta property="og:description"
        content="At Essex we&#39;re a bunch of risk-takers and opinion-makers, stereotype-breakers and world-shakers. Study at our Colchester Campus, Southend Campus, Loughton Campus today." /> -->

    <!-- Twitter Card data -->
    <!-- <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@Uni_of_Essex" />
    <meta name="twitter:title" content="University of Essex " />
    <meta name="twitter:description"
        content="At Essex we&#39;re a bunch of risk-takers and opinion-makers, stereotype-breakers and world-shakers. Study at our Colchester Campus, Southend Campus, Loughton Campus today." />
 -->


    <link rel="stylesheet" href="assets/css/style-custom.css">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

</head>

<body class="theme-dark ">
    <div id="app">
        <div class="home">
            <div class="wrapper" ref="wrapper" v-bind:class="{'is-locked': isLocked}">
                <div class="wrapper" ref="wrapper" v-bind:class="{'is-locked': isLocked}">

                    <div is="sx-keyfacts"
                        class="keyfacts keyfacts--home Light padding-md padding-xl-tablet padding-xxl-desktop padding-xxxl-wide"
                        inline-template>
                        <div v-bind:class="{'is-changing': isChanging, 'is-paused': isPaused, 'is-initied': isInitied}">
                            <div class="keyfacts__container container ok">
                                <div class="keyfacts__content" ref="touchArea">
                                    <!-- <h2 class="keyfacts__header section-header">Why <br/> Study here?</h2> -->
                                    <div class="keyfacts__facts">
                                        <div class="keyfacts__border"></div>
                                        <div class="keyfacts__fact js-slide single">
                                            <div class="keyfacts__text js-text">Top 30 in the Guardian University Guide
                                                2024
                                            </div>
                                        </div>
                                        <div class="keyfacts__fact js-slide single">
                                            <div class="keyfacts__text js-text">Five subjects in UK top 10 for research
                                                power (Times Higher Education 2022)</div>
                                        </div>
                                        <div class="keyfacts__fact js-slide single">
                                            <div class="keyfacts__text js-text">We are 15th for international outlook
                                                (Times
                                                Higher Education, World University Rankings 2024)</div>
                                        </div>
                                        <div class="keyfacts__fact js-slide single">
                                            <div class="keyfacts__text js-text">89% of our graduates are in employment
                                                or
                                                further study (Graduate Outcomes 2023)</div>
                                        </div>
                                        <div class="keyfacts__fact" v-bind:class="getSlideState(index)"
                                            v-for="(slide, index) in slides" ref="slide"></div>
                                        <div class="keyfacts__bullets">
                                            <button type="button" class="keyfacts__bullet"
                                                v-bind:class="getSlideState(index)" v-for="(slide, index) in slides"
                                                ref="bullet" v-on:click="setSlide(index)"
                                                v-html="index+1 + '.'"></button>
                                        </div>
                                    </div>
                                    <div class="keyfacts__arrows">
                                        <button type="button" class="keyfacts__prev button"
                                            aria-label="Previous key fact" v-on:click="prev">
                                            <svg class="keyfacts__icon">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-prev">
                                                </use>
                                            </svg>
                                        </button>
                                        <button class="keyfacts__play-pause button"
                                            v-bind:aria-label="[isPaused ? 'Play the key facts rotation' : 'Pause the key facts rotation']"
                                            v-on:click="handlePlayPause">
                                            <svg width="18" height="18" class="keyfacts__icon">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                    v-bind:xlink:href="[isPaused ? '#icon-play-btn-square' : '#icon-pause-btn-square']">
                                                </use>
                                            </svg>
                                        </button>
                                        <button type="button" class="keyfacts__next button" aria-label="Next key fact"
                                            v-on:click="next">
                                            <svg class="keyfacts__icon">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-next">
                                                </use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="keyfacts__images">
                                    <div class="keyfacts__images-group js-images">
                                        <img src='/-/media/2017/12/nss-homepage.jpg?h=500&amp;w=500&amp;crop=1&amp;hash=F821D380043E45BC890201DD73656FA9'
                                            class='keyfacts__image1' alt='Students laughing and chatting' />
                                        <div class="keyfacts__image1-overlay"></div>
                                    </div>
                                    <div class="keyfacts__images-group js-images">
                                        <img src='/-/media/2017/12/ref-homepage.jpg?h=500&amp;w=500&amp;crop=1&amp;hash=49804090CED8970022DA9501CD720ECB'
                                            class='keyfacts__image1' alt='Research academics reviewing documents' />
                                        <div class="keyfacts__image1-overlay"></div>
                                    </div>
                                    <div class="keyfacts__images-group js-images">
                                        <img src='/-/media/header-images/events/international-event-for-web.jpg?h=500&amp;w=500&amp;crop=1&amp;hash=F516B6881199CA90D391493ADF50C76F'
                                            class='keyfacts__image1'
                                            alt='International students with their countries flags' />
                                        <div class="keyfacts__image1-overlay"></div>
                                    </div>
                                    <div class="keyfacts__images-group js-images">
                                        <img src='/-/media/images/study/campus-tour-southend-students-piggyback-beach-1500x825.jpg?h=500&amp;w=500&amp;crop=1&amp;hash=ABA1884F65843D37D0603021F88582AE'
                                            class='keyfacts__image1'
                                            alt='With 7 miles of award-winning coastline on your doorstep and London just a stone&#39;s throw away, our Southend students have the best of both worlds ' />
                                        <div class="keyfacts__image1-overlay"></div>
                                    </div>
                                    <div class="keyfacts__images-group"
                                        v-bind:class="[slide.single, getSlideState(index)]"
                                        v-for="(slide, index) in slides" ref="image"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    </div>
    <script src="/assets/dist/vendor.js" defer></script>
    <script src="/assets/dist/app.js" defer></script>
    <script src="https://platform.twitter.com/widgets.js" defer></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=recaptchaInit&render=explicit" defer></script>

    <!-- NAGIOS WWW -->
</body>

</html>