/* .navbar-brand {
    height: 50px;
} */
:root {
    --dark-red: #721822;
    --blue: #045487;
    --dark-blue: #02324F;
    --black: #0000007c;
}

body {
    font-family: 'Inter', sans-serif;

}

header {
    position: relative;
    z-index: 3;
    padding: 10px 0px;
    /* height: 80px; */
}

.close-icon {
    display: none;
    font-size: 24px
}

.open-icon {
    font-size: 24px
}

.navbar-brand .logo {
    object-fit: contain;
    height: 50px;
}

.navbar-brand .text {
    object-fit: contain;
    height: 40px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
    padding: 10px 10px !important;
    font-size: 14px;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none !important;
    border-radius: 0px !important;

}

.gtco-testimonials .active {
    opacity: 1 !important;
}

.active-menu {
    border-bottom: 2px solid white;
}

.dropdown-menu {
    background-color: white !important;
}

.dropdown-menu li a {
    color: black !important;
    font-size: 14px;
}

.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.575) !important;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.menu-list {
    list-style: none;
}

/* .z-index-100{
      z-index: 100;
  } */

.dropdown-menu>li:hover>.dropdown-submenu {
    display: block;
}

.dropdown-menu {
    min-width: 200px;
    top: 41px;
    border-radius: 0 0 0 6px;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* .dropdown-menu-main{
      height: 400px !important;
      overflow-y: scroll;
  } */
.white-space-no-wrap {
    white-space: nowrap;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.gov-logo {
    position: absolute;
    top: 10px;
    right: 0px;
}

.search-div {
    position: relative;
}

.search-div i {
    position: absolute;
    left: 7px;
    top: 3px;
    color: black;
}

.search {
    /* margin-right: 100px; */
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px 7px;
    font-size: 14px;
    font-weight: 500;
    color: black;
    padding-left: 30px;

}

.search:focus,
.search:active {
    outline: none;
    box-shadow: none;
}

main {
    position: relative;
    z-index: 1;
}

.home-video {
    width: 100%;
}


.nav-menu {
    background-color: white;
    position: relative;
}

.search-text {
    font-size: 12px;
    /* color: white; */
    cursor: pointer;
}

.search-text i {
    font-size: 18px;
}

/* ============================================================video */
.modal-dialog {
    max-width: 700px;
}

.video-details {
    padding: 50px 0px;

}

.header-video {
    width: 100%;
    position: relative;
}


.video-div {
    position: relative;
    /* height: 500px; */
    overflow-y: hidden;
    margin-top: 0px !important;
    background-color: black;
}

.video-content {
    position: absolute;
    background: linear-gradient(180deg, rgba(2, 50, 79, 0), rgba(2, 50, 79, 0.13), rgba(6, 32, 48, 0.26), rgba(1, 32, 51, 0.58), #023858);
    right: 0;
    bottom: 10px;
    left: 0;
    height: 40px;
    z-index: 1;
}

.video-content3 {
    position: absolute;
    background: linear-gradient(180deg, rgba(4, 85, 134, 0), rgba(4, 85, 134, .13), rgba(4, 85, 134, .26), rgba(4, 85, 134, .58), black);
    right: 0;
    top: 0px;
    left: 0;
    height: 40px;
    z-index: 1;
}

.video-content-logo {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-content-logo-div {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.518);
    border-radius: 4px;
}

.video-details {
    background-color: var(--dark-blue);
    margin-top: -10px;
    position: relative;
    z-index: 2;
}

.video-btn {
    width: 100px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    text-decoration: underline;
    font-weight: 500;
    font-family: 'Didact Gothic', sans-serif !important;
}

.video-btn i {
    width: 100px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
}

.video-btn-play {
    display: none;
    /* Initially hide the pause button */
}

.video-text h1 {
    font-size: 40px;
    font-weight: 700;
    color: white;
    font-family: 'Didact Gothic', sans-serif !important;
}

.video-text p {
    font-size: 22px;
    font-weight: 400;
    color: white;
    font-family: 'Didact Gothic', sans-serif !important;
}

/* ===========================================ticker */

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-section {
    position: relative;
}

.ticker-label {
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 14px;
    font-weight: 500;
    color: white;
    background-color: black;
    padding: 3px 10px;
    width: 100px;
    z-index: 2;
}

/* ticker1 */
.ticker-wrap {
    /* position: fixed;
  top: 0;
  width: 100%; */
    overflow: hidden;
    height: 30px;
    background: linear-gradient(0deg, rgba(226, 225, 225, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(226, 225, 225, 1) 100%);
    padding-left: 100%;
    box-sizing: content-box;
    z-index: 10000;
}

.ticker-wrap .ticker {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 35s;
    animation-duration: 80s;
}

.ticker-wrap .ticker__item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 14px;
    color: black;
    font-weight: 500;
}

.dot {
    height: 10px;
    width: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px !important;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
}

/* ticker2 */
.ticker-wrap2 {
    /* position: fixed;
  top: 0;
  width: 100%; */
    overflow: hidden;
    height: 30px;
    background: rgb(114 21 31);
    padding-left: 100%;
    box-sizing: content-box;
    z-index: 10000;
}

.ticker-wrap2 .ticker2 {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 35s;
    animation-duration: 80s;
}

.ticker-wrap2 .ticker__item2 {
    display: inline-block;
    padding: 0 2rem;
    font-size: 14px;
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.dot {
    height: 10px;
    width: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px !important;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
}

/* ==================================================================about */
.city-details {
    margin-top: -70px !important;
    position: relative;
    z-index: 10;
}

.about-content {
    background: url("../images/bg_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 150px 120px 50px;
}

.about-content h1 {
    font-family: 'Inter', sans-serif !important;
    font-weight: 500;
    color: black;
    font-size: 50px
}

.about-content h2 {
    font-family: 'Inter', sans-serif !important;
    font-weight: 500;
    font-size: 30px
}

.about-content p {
    font-family: 'Inter', sans-serif !important;
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
}

.about-image-div {
    z-index: 3;
    position: absolute;
    top: 50px;
    right: 0px;
}

.about-image-div img {
    position: relative;
    width: 300px;
    height: auto;
    z-index: 2;
    /* border: 5px solid black; */
}

.about-image-div::after {
    content: " ";
    position: absolute;
    top: -16px;
    left: -16px;
    right: 0;
    z-index: 5;
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 8px solid black;
}

/* .about-border {
    border: 5px solid black;
    background-color: black;
    position: absolute;
    top: 0px;
    right: 30px;
    width: 300px;
    height: auto;
    z-index: 5;
} */
/* ================================================details card */
.city-details-card {
    background-image: url("../images/sindhi-red-ajrak-pattern-F55T81.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    padding: 7px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.city-details-card--content {
    background-color: rgba(138, 5, 5, 0.73) !important;
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.city-details-card--content a {
    text-decoration: none;
    text-align: center;
    /* margin-bottom: 15px; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.city-details-card--content h5 {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.city-details-card--content h3 {
    font-size: 54px;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.city-details-card--content:hover {
    background-color: rgba(138, 5, 5, 0.93) !important;
}

/* ==============================================================================slider */
.carousel-item iframe {
    height: 90vh;
    width: 100%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #8B1010;
}

.video-gallery {
    margin-top: -100px;
}

.video-content2 {
    background: none;
    background-color: black !important;
    color: white !important;
}

.video-content2 h1 {
    color: white !important;
}

/* ==================================================message */

.testimonials {
    background-color: black;
    padding: 60px 0px;
}

.testimonials h1 {
    font-size: 36px;
    font-weight: 500;
    color: white;
}

.gtco-testimonials {
    position: relative;
    margin-top: 30px;
}

.gtco-testimonials h2 {
    font-size: 30px;
    text-align: center;
    color: #333333;
    margin-bottom: 50px;
}

.gtco-testimonials .owl-stage-outer {
    padding: 30px 0;
}

.gtco-testimonials .owl-nav {
    display: none;
}

.gtco-testimonials .owl-dots {
    text-align: center;
}

.gtco-testimonials .owl-dots span {
    position: relative;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: block;
    background: #fff;
    border: 2px solid rgba(255, 255, 255, 0.568);
    margin: 0 5px;
}

.gtco-testimonials .owl-dots .active {
    box-shadow: none;
}

.gtco-testimonials .owl-dots .active span {
    background: #01b0f8;
    box-shadow: none;
    height: 12px;
    width: 12px;
    margin-bottom: -1px;
}

.gtco-testimonials .card {
    background: #fff;
    box-shadow: 0 8px 30px -7px #c9dff0;
    margin: 0 20px;
    padding: 0 10px;
    border-radius: 20px;
    border: 0;
    min-height: 460px;
}

.gtco-testimonials .card .card-img-top {
    max-width: 100px;
    border-radius: 50%;
    margin: 15px auto 0;
    box-shadow: 0 8px 20px -4px #95abbb;
    width: 100px;
    height: 100px;
}

.gtco-testimonials .card h5 {
    color: black;
    font-size: 21px;
    line-height: 1.3;
}

.gtco-testimonials .card h5 span {
    font-size: 14px;
    color: #666666;
}

.gtco-testimonials .card p {
    font-size: 14px;
    color: #555;
    padding-bottom: 15px;
}

.gtco-testimonials .active {
    opacity: 0.5;
    transition: all 0.3s;
}

.gtco-testimonials .center {
    opacity: 1;
}

.gtco-testimonials .center h5 {
    font-size: 24px;
}

.gtco-testimonials .center h5 span {
    font-size: 20px;
}

.gtco-testimonials .center .card-img-top {
    max-width: 100%;
    height: 120px;
    width: 120px;
}

@media (max-width: 767px) {
    .gtco-testimonials {
        margin-top: 20px;
    }
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    outline: 0;
}

.owl-carousel button.owl-dot {
    outline: 0;
}

/* ==================================================council*/
.council {
    padding: 60px 0px;
}

.council h1 {
    font-size: 36px;
    font-weight: 500;
    color: black;
}

.council-card {
    position: relative;
    z-index: 1;
    padding: 1px;
}

.council-card-content {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.699);
    z-index: 2;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px;
    min-height: 110px;
}

.council-card-content a {
    color: white;
    font-size: 14px;
}

.council-card-content h1 {
    font-size: 16px;
    font-weight: 600;
    color: white;

}

.carousel__slide-1 {
    position: relative;
    display: block;
    flex: 1 0 100%;
    width: 100%;
    height: width;
    overflow: hidden;
    transition: all 200ms ease-out;
    box-sizing: border-box;
    white-space: normal;
}

.carousel__slide-1 figure {
    display: flex;
    margin: 0;
}

@media only screen and (max-width: 7479px) {
    .carousel__slide-1 figure {
        justify-content: center;
    }
}

.carousel__slide-1 div {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.carousel__slide-1 div:before {
    display: block;
    content: "";
    padding-top: 100%;
}

.carousel__slide-1 div>img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 7479px) {
    .carousel__slide-1 div {
        width: 100%;
    }
}

.carousel__slide-1 img {
    display: block;
    flex: 1 1 auto;
    object-fit: cover;
}

.carousel__slide-1 .credit {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.5);
    display: block;
}

.carousel__slide-1.scrollable {
    overflow-y: scroll;
}

/* ================================================================gallery */
.grid-wrapper>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper>div>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.grid-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.grid-wrapper .wide {
    grid-column: span 2;
}

.grid-wrapper .tall {
    grid-row: span 2;
}

.grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}

.events h1 {
    font-size: 36px;
    font-weight: 500;
    color: black;
}

.facebook {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #0b90e2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white !important;
}

.tw {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #1CB7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white !important;
}

.youtube {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #E62E2D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white !important;
}

/* ===========================================================footer */
.footer {
    padding: 50px 0px;
    background-color: var(--dark-blue);
}

.footer-logo {
    height: 50px;
    width: auto;
}

.footer-text {
    color: white;
    font-size: 14px;
}

.footer h1 {
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.footer p a {
    font-size: 14px;
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.footer p a:hover {
    text-decoration: underline;
}

.footer-copy {
    background-color: black;
    padding: 20px 0px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: white !important;
    border-top: 1px solid white;
}

.main-btn {
    padding: 10px 20px;
    background-color: black;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: black !important;
}